.page-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar,
.toolbar-menu,
.toolbar-search,
.toolbar-settings
{
  display: flex;
}

.toolbar{
  justify-content: space-between;
}
.toolbar-search {
  flex: 2 2 auto;
  margin-right: 1rem;
  margin-left: 1rem;
}

.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}


.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

section.main-column{
  padding: 1rem;
}

.news-cards img{
  width: auto;
  max-height: 15rem;
}
.news-cards{
  margin-bottom: 1rem;
  padding-left: 2rem;
}
